
<ul class="image-set">
  <li><img src="../../assets/wildlife/3.jpg"/></li>
  <li><img src="../../assets/wildlife/4.jpg"/></li>
  <li><img src="../../assets/wildlife/5.jpg"/></li>
  <li><img src="../../assets/wildlife/9.jpg"/></li>
  <li><img src="../../assets/wildlife/10.jpg"/></li>
  <li><img src="../../assets/wildlife/IMG-4479.JPG"/></li>
  <li><img src="../../assets/wildlife/6.jpg"/></li>
  <li><img src="../../assets/wildlife/7.jpg"/></li>
  <li><img src="../../assets/wildlife/8.jpg"/></li>
  <li><img src="../../assets/wildlife/2.jpg"/></li>
</ul>

