.content {
  height: 200vh;
 /* background-image: url(//unsplash.it/1000/1000);*/
  background-image:url("../../assets/home/2.jpg");
  /*background-color: #333;*/
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
}
