<div class="slider">
  <div>
    <img src="../../assets/landscapes/1.JPG" class="item img-fluid">
  </div>
  <div>
    <img src="../../assets/landscapes/2.JPG" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/3.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/4.JPG" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/5.JPG" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/6.JPG" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/7.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/8.JPG" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/9.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/10.JPG" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/11.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/12.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/13.JPG" class="item img-fluid">
  </div>
  <div>
    <img src="../../assets/landscapes/14.jpg" class="item img-fluid">
  </div>
  <div>
    <img src="../../assets/landscapes/15.JPG" class="item img-fluid">
  </div>
</div>
