<div class="slider">
  <div>
    <img src="../../assets/landscapes/1.jpg" class="item img-fluid">
  </div>
  <div>
    <img src="../../assets/landscapes/2.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/3.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/4.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/5.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/1.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/2.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/3.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/4.jpg" class="item img-fluid">

  </div>
  <div>
    <img src="../../assets/landscapes/5.jpg" class="item img-fluid">

  </div>
</div>
